---
import { type CollectionEntry } from "astro:content";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import { collectionDateSort } from "@/utils/date";

// Posts
const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = allPosts
	.sort(collectionDateSort)
	.slice(0, MAX_POSTS) as CollectionEntry<"post">[];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="heading-1">Hello, I'm Shameer!</h1>
		<p class="mb-4">
			I build developer tooling, platform engineering, and backend systems.
		</p>
		<p class="mb-4">
			This space is where I document my explorations, notes, and experiments. I'm currently focused
			on learning and experimenting with large language models, distributed systems, and Go. When
			I'm not immersed in code, you can find me reading or out walking the trails.
		</p>
		<p class="mb-4">
			I'm currently open to exploring new opportunities in the AI/developer tooling/backend
			engineering space.
		</p>
	</section>
	<section class="mt-16">
		<h2 class="heading-2">
			<a href="/posts/">Latest Posts</a>
		</h2>
		<ul class="space-y-4" role="list">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr]">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
